*{
    padding:0;
    margin:0;
    outline:0;
    border:0;
    font-family:tahoma;
    list-style-type:none
}
.body{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:auto;
    min-width: 483px;
}
header{
    width:100%;
    height:116px;
    background:#3f7594;
    -webkit-box-shadow:6px 7px 10px -5px rgba(0,0,0,0.51);
    -moz-box-shadow:6px 7px 10px -5px rgba(0,0,0,0.51);
    box-shadow:6px 7px 10px -5px rgba(0,0,0,0.51);
}
.head{
    height:100%;
    min-width:460px ;
   max-width:1170px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
}
.head a,
.head p, 
.head li{
    color:#fff
}
.head__tagline>p{
    font-size:32px;
    width:auto;
    margin-left:32px;
    line-height:1.2;
    position:relative;
    width:320px;
    max-width:500px ;
    bottom:3px;
    flex-shrink:2
}
.header_logo{
    justify-content:flex-start;
    display:flex;
    flex-direction:row;
}
.icon__phone{
    display:none
}
.logo__img{
    height:77px;
    width:151px
}
.main-menu{
    display:flex;
    flex-direction:column;
    height:77px;
    justify-content:space-between;
    align-items:flex-end
        
}
.main-menu li{
    font-size:20px;
    margin-right:25px;
    text-transform:uppercase
}
.main-menu li:hover{
    padding-bottom:12px;
    border-bottom:#fff solid 3px;
}
.main-menu li:last-child{
    margin-right:0
}
.main-menu>.phone{
    font-size:24px;
    text-align:right
}
.menu{
    display:flex;
    flex-direction:row;
    
}
.menu__activ{
    padding-bottom:12px;
    border-bottom:#fff solid 3px;
}
.icon__phone{
    display:none
}
.mobil-menu [type="checkbox"],
.icon__phone [type="checkbox"]{
     display:none;
}
.content{
    max-width:1170px;
    margin-top:25px;
    display:grid;
    margin-left:auto;
    margin-right:auto
}
.bread_crumbs{
    width:50%; 
}
.content_inf{
    position:relative;
    margin-top:25px;
    display:flex;
    flex-direction:row;
    justify-content:space-between; 
    margin-bottom:10px;
}
.gallery{
    position:relative;
    min-width:628px;
    max-width:1000px;
    height:408px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-right:20px
}
.content_inf>.information{
    position:relative;
    min-width:0px;
    max-width:400px;
    flex-shrink:1;

}
.enlarged{
    position:relative;
    min-width:460px;
    max-width:600px;
    height:auto;
    margin-right:20px;

}
.enlarged__paragraph>.wrap{
    position:absolute;
    min-width:460px;
    max-width:605px;
    bottom:0px;
  
    color:#fff;
    padding:20px;
    height:auto;
    background-image:linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0) 100%);
}
.enlarged__paragraph{
    position:absolute;
    min-width:100.9%;
    bottom: 0px
}
.enlarged__paragraph>.wrap>h2{
    font-weight:20;
}
.enlarged__img{
    min-width:460px;
    max-width:605px;
    height:auto;
    background-size:cover;
}

.slider{
    width:127px;
    display:flex;
    flex-direction:column;
}
.slider__little{
    max-width:130px;
     margin-bottom:17px;
}
.slider__little__img{
    max-width:130px;
    background-size:cover;
}
.information__headline{
    font-weight:300;
    font-size:25px;
    background:#dadada;
    padding:5px 22px;
    margin-bottom:30px
}
.information__text>p{
    font-size:15px;
    margin-bottom:20px
}
.line{
    width:100%;
    height:4px;
    color:#fff;
    margin-bottom:10px
}

footer{
    background:#181c23;
    height:200px;
    min-width: 450px
}


.footer__right{
    text-align:right;
    position: relative;
    top: 2px
}
.footer__center{
    position: relative;
    top: 10px
}
.footer__center,
.footer__center>img{
    width:119px;
    height:60px
}
.hidden_gray{
    position:relative;
    width:100%;
    height:450px;
}
svg {
    position:absolute;
    bottom:0;
    width:100%;
    min-width: 450px;
    height:450px;
}

.contact__background__gray{
        z-index:1;
        min-width: 450px;
}

.content__footer{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width:1170px;
    min-width:400px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    color:#fff;
    height:100%;
    align-items: center
    
}
.footer__td{
    vertical-align:top;
    width:1px
}
.footer__left,
.footer__right{
    font-size:13px;
    width:250px
}
   .footer__right ul{
       margin-bottom: 10px
    }
.footer__right p{
    margin-bottom:18px
}
.contact__inf{
    position:relative;
    z-index:2;
    min-width:450px ;
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    top:50px
}
.contact__flex{
    position:relative;
    top:20px ;
    max-width:1170px;
    min-width:450px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    height:auto;
}
.contact__headline{
    text-align:center;
    font-size:35px;
    font-weight:300
}
.contact__cart{
    position:relative;
    background:#3f7594;
    width:317px;
    height:308px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding-top:10px;


}
.contact__name{
    position: relative;
    color:#fff ;
    width:auto;
    height: auto;
    min-width:300px;
    max-width:90%
}
.contact__name>h2{
    font-size:32px;
    font-weight:300;
    margin-bottom:20px;
        margin-left: 20px;
    text-shadow:  2px 1px 2px #808d9d
}
.contact__name>table{
    font-size:20px;
    margin-bottom:10px;
    margin-left: 20px;
}
.contact__name_table{
    width:110px ;
    text-shadow:  2px 1px 2px #808d9d
    
}
.contact__name>p{
    position: relative;
    font-size:16px;
    min-width: 250px;
    width:90%;
    margin-left: 20px;
    height: auto;
    text-shadow:  2px 1px 1px #808d9d
    
}
.line{
    width:90%;
    height:1px;
    background:#fff;
    margin-bottom:10px;
    margin-left: 20px;
}
.name__girl{
    
    width:300px;
    margin-left: 10px;
    margin-right:10px;
    -webkit-box-shadow:6px 7px 10px -5px rgba(0,0,0,0.51);
    -moz-box-shadow:6px 7px 10px -5px rgba(0,0,0,0.51);
    box-shadow:2px 2px 2px 1px rgba(0,0,0,0.51);
}    
.contact__cart>p{
    color:#fff;
    padding:20px;
    font-size:16px;
}
