header{
    height:55px;
    position:fixed;
    z-index:999;
    top:0px
}

header,
.mobil-menu,
.main-menu,
.content__footer,
.head{
    width:100%;
    max-width:1000px;
    min-width:480px
}
.head{
    flex-direction:column;
    align-items:flex-start;
}
.bread_crumbs{  
    margin-left:15px
}
.mobil-menu label.toggleMenu{
    background:url(img/burger.svg) no-repeat;
    background-size:75%;
    display:block;
    width:50px;
    height:50px;
    text-transform:uppercase;
    cursor:pointer;
    position:relative;
    top:5px;
    margin-left:15px ;
    z-index:9999
}    
.mobil-menu{
    position:absolute;
    top:5px;
    overflow:hidden;
}
 .menu{
    position:fixed;
    width:250px;
    height:1000px ;
    max-width:0px;
    overflow:hidden;
    background:#3f7594;
    -webkit-transition:max-width 0.1s linear;
    -moz-transition:max-width 0.1s linear;
    transition:max-width 0.1s linear;
    flex-direction:column;
    z-index:9
    
}
.menu>li{
    margin-right:0px;
    padding-bottom:11px;
    margin-left:20px;
    padding-top:30px;
    font-size:15px;
    border-bottom:rgba(255, 255, 255, 0) solid 4px;
}
input.toggleMenu:checked ~ .menu{
    max-height:1000px;
    max-width:250px;
    
}
.main-menu>.phone{
    display:none
}
.icon__phone {
    display:block;
    right:15px;
    position:absolute;
}
.head__tagline>p{
    font-size:18px;
    margin-left:20px;
    margin-top:5px
}
.header_logo{
    justify-content:flex-start;
    display:flex;
    align-items:center;
    flex-direction:row;
    margin-left:60px;
    margin-top:9px
}

@media screen and (max-width:620px){
    .icon__phone {
    left:150px;
    top:27px;
}
    .head__tagline>p{
    margin-top:2px
}
    .header_logo{
    align-items:flex-start;
    margin-top:9px
}
}
.logo__img{
    width:70px;
    height:37px;
    background-size:cover;
}

.content_inf{
    flex-direction:column;
    justify-content:center;
    
}
.content_inf>.gallery{
    margin-left:auto;
    margin-right:auto;
}
.enlarged,
.enlarged__img,
.gallery{
    min-width:610px;
    margin-right:0px
}
.content_inf>.information{
    margin-left:auto;
    margin-right:auto;
    min-width:610px;
}
.content_inf{
    margin-bottom:0px
}

.contact__background__grau{
    position:relative;
    height:800px;
}  
@media screen and (max-width:640px){
 
    footer{
    position:relative;
    z-index:2;
    bottom:-500px 
}
    .content__footer{
    justify-content:space-around
}

    .gallery{
    position:relative;
    min-width:450px;
    max-width:450px;
    height:408px;
    display:flex;
        
}
    .content_inf>.information{
    margin-left:auto;
    margin-right:auto;
    max-width:400px ;
    min-width:450px;
}   
    .enlarged{
    position:relative;
    min-width:450px;
    max-width:450px;
    height:auto;
    margin-right:0px
}

    .enlarged__paragraph>.wrap{
    position:absolute;
    min-width:410px;
    max-width:450px;
    bottom:0px;
    color:#fff;
    padding:20px;
    height:auto;
    background-image:linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0) 100%);
    font-size:14px;
}
    .enlarged__paragraph{
    position:absolute;
    min-width:10%;
}
    .enlarged__img{
    max-width:450px;
    min-width:450px;
    background-size:cover;
    margin-right:0px
    }
    .gallery>.enlarger{
    max-width:450px
    }
    .gallery>.slider{
    max-width:440px
    }
    .slider{
    width:450px;
}
    .slider__little{
    max-width:100px;
    margin-bottom:15px;
    margin-right:10px;
    margin-left:7px
}

    .slider__little__img{
    max-width:100px;
    background-size:cover;
}
    .slider__little:nth-child(1){
    margin-left:0px
    }
    .slider__little:nth-child(4){
    margin-right:0px
    }
    .contact__background__grau__two{
    max-width:100%;
    min-width:0px;
    background:#808d9d;
    height:300px;
    position:relative;
    top:500px;
    z-index:-9
} 
    footer{
    position:relative;
    z-index:2;
    top:300px
}
}
.footer__left,
.footer__right{
    font-size:10px;
    width:174px;
    margin-left:10px;
    margin-right:10px
}
.footer__center{
    width:90px;
    height:50px
}
footer{
    height:130px ;
    position:relative;
    z-index:2;
    bottom:-50px 
}


.hidden_gray{
    position:relative;
    min-width:450px;
    max-width:1000px;
    height:500px;
}
.contact__background__grau{
    position:relative;
    height:800px;
}
.contact__background__grau__two{
    max-width:100%;
    min-width:0px;
    background:#808d9d;
    height:300px;
    position:relative;
    top:500px;
    z-index:-9
} 

.contact__headline{
    text-align:left;
    font-size:35px
}

.contact__flex{
    min-width:460px
     max-width:100%;
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 10px;
    align-items:flex-end
}

.contact__inf{
    position:relative;
    z-index:2;
    max-width:100%;
    min-width:450px;
    
    top:-190px;
    flex-shrink:10;
}

@media screen and (max-width:640px){
    .contact__flex{
    flex-direction:column;
    justify-content:center;
    align-items:center
}
}

.hidden_gray{
    position:relative;
    min-width:450px;
    max-width:1000px;
    height:500px;
}
.contact__background__grau{
    position:relative;
    height:800px;
}
.contact__background__grau__two{
   max-width:100%;
    min-width:0px;
    background:#808d9d;
    height:300px;
    position:relative;
    top:250px;
    z-index:-9
}   
@media screen and (max-width:640px){
    .contact__flex{
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
.contact__background__grau__two{
    max-width:100%;
    min-width:0px;
    background:#808d9d;
    height:300px;
    position:relative;
    top:500px;
    z-index:-9
} 
.contact__name>h2{
    margin-left: 0px;
}
.contact__name>table{
    margin-left: 0px;
}
.contact__name>p{
    margin-left:0px;
}
    .line{
    margin-left:0px;
    width: 100%
}
}

.contact__headline{
    text-align:left;
    font-size:35px;
    margin-left: 10px
}



