header{
    height: 55px
}
.content,
header,
.mobil-menu,
.main-menu,
.head{
    width: 100%;
    max-width: 1000px;
}
.head{
    flex-direction: column;
    align-items: flex-start;
}
.mobil-menu label.toggleMenu{
    background: url(img/icons8-%D0%BC%D0%B5%D0%BD%D1%8E-filled2.svg) no-repeat;
    background-size:75%;
    display:block;
    width:50px;
    height:50px;
    text-transform:uppercase;
    cursor:pointer;
    position: relative;
    top:5px;
    margin-left:15px ;
    z-index:9999
}    
.mobil-menu{
    position: absolute;
    top: 5px;
    overflow:hidden;
}
 .menu{
    position: fixed;
     width: 250px;
     height:1000px ;
    max-width:0px;
    overflow:hidden;
    background:#3f7594;
    -webkit-transition:max-width 0.1s linear;
    -moz-transition:max-width 0.1s linear;
    transition:max-width 0.1s linear;
    flex-direction: column;
    
}
.menu>li{
    margin-right:50px;
    padding-bottom:10px;
    margin-left:20px;
    padding-top:30px;
    font-size: 15px;
    
}
input.toggleMenu:checked ~ .menu{
    max-height:1000px;
    max-width:250px;
    
}
.main-menu>.phone{
    display: none
}
.head__tagline>p{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 2px
}
.header_logo{
    justify-content: flex-start;
    display: flex;
    align-items:center;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 7px
}
.logo__img{
    width:70px;
    height: 37px;
    background-size:cover;
}
@media screen and (max-width:604px){
   .header_logo{

}
}
.content_inf{
    min-width: 460px;
    max-width: 960px;
}
