.head,
.content{
   max-width: 1130px;
}
.main-menu li{
    font-size: 17px;
}

    .content_inf{
    justify-content:space-between;
    
}
    .content_inf>.gallery{
    height:auto;
    max-width:960px;
    margin-left: auto;
    margin-right:auto;
    flex-direction: column;
}
.slider{
    
    flex-direction:row;
    max-width:100%;
}
.slider__little{
    justify-content: space-between;
    margin-right:26px;
}
.slider__little__img{
    max-width: 140px;
    min-width: 50px;
    background-size: cover;
}
   .enlarged__img{
    min-width: 460px;
    max-width:960px;
    height: auto;
}
.enlarged__paragraph{
    position:relative;
    min-width:98%;
    bottom: 3px
}
@media screen and (max-width:1150px){
    .head,
    .content{
   max-width: 1070px;
}
}
@media screen and (max-width:1100px){
    .head,
    .content{
   max-width: 1020px;
}   


}
@media screen and (max-width:1050px){
    .head,
    .content{
   max-width: 980px;
}
}